
<div class="auth-page">
  <div class="form-container">
      <div class="form-header">
          
          <h2>Create Account</h2>
      </div>

      <form>
          <label>Name</label>
          <input type="text" formControlName="name" placeholder="Enter your Name">

          <label>Email</label>
          <input type="email" formControlName="email" placeholder="Enter your mail ID">

          <label>Phone Number</label>
          <input type="text" formControlName="phone" placeholder="Enter your Contact number">

          <label>Select Role</label>
          <select formControlName="role" >
            <option value="">Select your respective role</option>
            <option value="admin">Admin</option>
            <option value="user">HR</option>
            <option value="user">Employee</option>
         </select>


          <label>Password</label>
          <input type="password" formControlName="password" placeholder="Enter your password">

          <label>Confirm Password</label>
          <input type="password" formControlName="confirmPassword" placeholder="Enter your password again">

          <!-- Remember Me Checkbox -->
          <div class="remember-me">
              <input type="checkbox" id="remember-me" />
               <label for="remember-me">Remember me</label>
          </div> 
          
          <button type="submit">Create Account</button>
      </form>
      <p class="login-link">Already have an account? <a routerLink="/login">Sign in</a></p>
  </div>
  <app-auth-ui-section></app-auth-ui-section>
</div>