* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .register-container {
    display: flex;
    height: 100vh;
  }
  
  .register-form {
    width: 50%;
    background: white;
    padding: 40px;
    border-right: 2px solid #ccc;
  }
  
  .banner {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #2c3e50, #34495e);
    color: white;
    font-size: 24px;
  }
  
  .form-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-icon {
    font-size: 30px;
    color: purple;
    display: block;
  }
  
  h2 {
    
    color: black;
    margin-top: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 16x;
    font-weight: bold;
    margin-top: 10px;
  }
  
  input {
    
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .remember-me {
    display: flex;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 8px;
    gap: 8px;
  }
  
  .remember-me input {
    margin-right: 5px;
  }

  .remember-me input[type="checkbox"] {
      
    transform: scale(1.5); /* Increase size */
    margin-right: 10px;
  }
  
  button {
    margin-top: 2px;
    background: black;
    color: white;
    padding: 16px;
    border: none;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
  }
  
  button:disabled {
    background: grey;
  }
  
  .login-link {
    text-align: center;
    margin-top: 12px;
  }
  
  .login-link a {
    color: blue;
    text-decoration: none;
  }
  