<div class="dashboard-container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <h2>EMS Admin</h2>
      <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Employees</a></li>
        <li><a href="#">Attendance</a></li>
        <li><a href="#">Leave Management</a></li>
        <li><a href="#">Payroll</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </aside>


    <div class="dashboard-container">
        <h1>Dashboard</h1>
        <app-line-chart></app-line-chart>
      </div>
  
    <!-- Main Content -->
     <!-- <main class="main-content">
      <header class="navbar">
        <h1>Dashboard</h1>
        <button (click)="logout()">Logout</button>
      </header> 
  
      
    </main> -->
  </div>
  