

<div class="auth-page">
    <div class="form-container">
      <div class="form-header">
        <div class="icon">
        <img src="/assets/user-icon.jpg" alt="User Icon" width="30">
        </div>
  
        
          <h2>Reset Password</h2>
      </div>
      
      <label>New Password</label>
      <input type="New password" placeholder="Enter your password" />
  
      <label>Confirm Password</label>
      <input type="Confirm password" placeholder="Enter your password" />
  

      
      <button>Reset Password</button>
      
    </div>
    <app-auth-ui-section></app-auth-ui-section>
  
  </div>