* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .forgot-password-container {
    display: flex;
    height: 100vh;
  }
  
  .forgot-password-form {
    width: 50%;
    background: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 2px solid #ccc;
  }
  
  .banner {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #2c3e50, #34495e);
    color: white;
    font-size: 24px;
  }
  
  .form-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-icon {
    font-size: 30px;
    color: purple;
    display: block;
  }
  
  h2 {
    font-size: 24px;
    color: black;
    margin-top: 10px;
    margin-bottom: 16px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-top: 20px;
    font-size: 16px;
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 20px;
    background: black;
    color: white;
    padding: 16px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  button:disabled {
    background: grey;
    cursor: not-allowed;
  }
  