<div class="forgot-password-container">
    <div class="forgot-password-form">
      <div class="form-header">
        <img src="/assets/user-icon.jpg" alt="User Icon" width="30">
        <h2>Reset Password</h2>
      </div>
  
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <label for="newPassword">New Password</label>
        <input 
          type="password" 
          id="newPassword" 
          formControlName="newPassword" 
          placeholder="Enter new password"
        >
  
        <label for="confirmPassword">Confirm Password</label>
        <input 
          type="password" 
          id="confirmPassword" 
          formControlName="confirmPassword" 
          placeholder="Enter your password again"
        >
  
        <button type="submit" [disabled]="forgotPasswordForm.invalid">Reset Password</button>
      </form>
    </div>
  
    <div class="banner">
      <h1>Morwils EMS</h1>
    </div>
  </div>
  