.auth-ui-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #2f445b, #1a2e4f);
    color: white;
    width: 50vw;
    text-align: center;
    flex-grow: 1;
    height: 100vh;
  }
  .content {
    max-width: 80%;
  }
  @media (max-width: 768px) {
    .auth-ui-section {
      width: 100%;
      
      padding: 2rem 0;
    }
  }